.map {
  height: calc(100vh - 50px - 100px);
  width: 100%;
  position: relative;
  box-shadow: 5px 5px #c2c0c0;
}

.search-bar {
  height: 50px;
}
.home-card {
  margin-right: 20px;
}

.position {
  position: absolute;
  width: 40;
  height: 40;
  left: -40 / 2;
  top: -40 / 2;

  border: 5px solid #f44336;
  border-radius: 40px;
  background-color: white;
  text-align: center;
  color: #3f51b5;
  font-size: 16px;
  font-weight: bold;
  padding: 4;
}

.card-component {
  margin-top: 20px;
}
