#site-footer {
  background-color: rgb(240, 240, 240);
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;

  .text {
    font-weight: lighter;
    font-size: 0.7rem;
  }
}
