.form {
    margin: auto;
    border: 1px solid #dadce0;
    padding: 50px 40px;
    border-radius: 0.25rem;

    .form-title {
        text-align: center;
        color: black;
        padding-bottom: 40px;
    }

    label {
        font-weight: 400;
    }

    .form-button {
        margin-top: 50px;
    }

    .form-error {
        color: red;
    }

    .create {
        color: #1a73e8;
        font-weight: 500;
        font-size: 18px;
        margin-right: 180px;
    }
}